.Parentcontainer2{
    width: 100vw;
    height: 550px;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 28px;
    font-family: sans-serif;
}

.contChild{
    width: 1180px;
    height: 260px;
    /* border: 1px solid red; */
    display: flex;
}

.lft{
    width: 280px;
    height: 260px;
    /* border: 1px solid black; */
}

.lft h4{
    font-size: 20px;
    line-height: 24px;
    margin-top: 16px;
    margin-left: 15px;
}

.lft button{
    width: 124px;
    height: 40px;
    padding: 0px 16px;
    background-color: white;
    border: 1px solid white;
    border-radius: 6px;
    margin-top: 8px;
    margin-left: 12px;
}

.lft1{
    background-image: url('Container2-Img/Group\ 969.png');
}

.lft1 h4{
    width: 130px;
}

.lft2{
    background-image: url('Container2-2-Img/Group\ 970.png');
}

.lft2 h4{
    width: 154px;
}

.rigt{
    width: 900px;
    height: 260px;
    /* border: 1px solid blue; */
    display: flex;
    flex-wrap: wrap;
}

.subChild{
    /* border: 1px solid black; */
    height: 128px;
    width: 900px;
    display: flex;
}

.sub-subChild{
    /* border: 1px solid black; */
    height: 128px;
    width: 225px;
}