/*------------------------- Header Starts -------------------------*/
.hdr{
    /* border: 2px solid black; */
    width: 100vw;
    height: 158px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Vertical */
    align-items: center; /* Horizontol */
    padding: 0px;
}

.nav{
    /* border: 2px solid red; */
    width: 100vw;
    height: 100px;
}

/* ----------Nav-1---------- */
.nav-1{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 90px;
}

.box{
    /* border: 2px solid red; */
    height: 80px;
    width: 20vw;
}

.box-1{
    height: 48px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.box-2{
    height: 44px;
    width: 675px;
    display: flex;
    align-items: center;
    justify-content: center;
}

form{
    display: block;
    width: 675px;
}

.search{
    width: 422px;
    height: 40px;
    border: 2px solid #3e8cff;
    border-radius: 10px;
    font-size: 1.2rem;
}

#drop-down{
    width: 145px;
    height: 40px;
    font-size: 1.2rem;
}

#search-btn{
    width: 100px;
    height: 40px;
    background-color: #3e8cff;
    border: 2px solid #3e8cff;
}

.box-3{
    height: 42px;
    width: 235px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item{
    height: 40px;
    width: 20vw;
    /* border: 2px solid red; */
}

.hr{
    border: 1px solid rgb(231, 231, 231);
    /* height: 1px; */
    width: 100vw;
}

/* ----------Nav-2---------- */
.nav-2{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.hamburger{
    color: black;
    font-weight: 900;
    font-size: 1.2rem;
    cursor: pointer;
    display: none;
}

.box-4{
    width: 620px;
    /* border: 2px solid red; */
    height: 25px;
}

.box-4 ul{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.box-4 ul li{
    list-style: none;
}

.box-4 ul li a{
    text-decoration: none;
    font-size: 16px;
    color: black;
    font-family: sans-serif;
}

.box-5{
    display: flex;
}

.item-5{
    width: 124px;
    /* border: 2px solid red; */
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
}

.item-6{
    width: 124px;
    /* border: 2px solid red; */
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}
/*------------------------- Header Ends-------------------------*/





/* -------------------------------------------Media Queries Start------------------------------------------- */



@media screen and (max-width:1200px){
    .nav-1{
        justify-content: space-between;
    }

    .box-2{
        display: none;
    }
}

@media screen and (max-width:810px){
    .nav-2{
        justify-content: space-between;
    }
    
    .hamburger{
        display: block;
    }
    
    .box-4{
        display: none;
    }
}